:host ::ng-deep .p-card  {
    background-color: #202845 !important;
    color:white;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: left;
    padding: 0%;
}

::ng-deep .p-card-header{
    height:300px
}

.event-card-thumbnail-wrapper {
    width: 100%;
    height: 100%;
    padding-top: 0;
    overflow: hidden;
  }
  .card-image {
    width: 50%;
    height: 50%;
    padding-top: 50px;
   
  }

  .cursor-arrow{
    cursor: auto;
  }

  .cursor-hand{
    cursor: pointer;
  }

  .custom-error-message {
    color: gray;
    font-size: 18px;
    text-align: center;
    margin-top: 200px;
  }
   
  

